body {
  margin: 0;
}

.App {
  margin: 0 auto;
  width: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.dydis {
  width: 530px;
  margin: 0 auto;
}

.imgas {
  width: 100px;
  height: 100px;
}

.imgas-big {
  width: 300px;
  height: 300px;
}

.imgas-big img {
  display: block;
  width: 100%;
  height: auto;
}

.imgas img {
  display: block;
  width: 100%;
  height: auto;
}

.dydis-vsm {
  width: 160px;
  height: 160px;
}

.dydis-sm {
  width: 350px;
}

.dydis-md {
  max-width: 750px;
  height: 650px;
}

.answers {
  width: 400px;
  flex-wrap: wrap;
}

.overflow-scroll-height {
  overflow-y: scroll;
  height: 500px;
}

button {
  width: 150px;
  height: 50px;
  padding: 8px 16px;
  margin: 5px;
}

.a-style {
  text-decoration: none;
  color: black;
}

.d-flex {
  display: flex;
}

.f-end {
  justify-content: flex-end;
}

.f-start {
  justify-content: flex-start;
}

.f-wrap {
  flex-wrap: wrap;
}

.t-align-center {
  text-align: center;
}

.j-btw {
  justify-content: space-between;
}

.j-even {
  justify-content: space-evenly;
}

.j-center {
  justify-content: center;
}

.j-around {
  justify-content: space-around;
}

.f-direction {
  flex-direction: column;
}

.f-direction-reverse {
  flex-direction: column-reverse;
}

.a-items-center {
  align-items: center;
}

.borderis {
  border: 2px solid black;
}

.p20 {
  padding: 20px;
}

.pb-10 {
  padding-bottom: 10px;
}

.p10 {
  padding: 10px;
}

.m10 {
  margin: 10px;
}

.flex3 {
  flex: 3;
}

.flex6 {
  flex: 6;
}

.flex1 {
  flex: 1;
}

.w-200 {
  width: 400px;
}

.length {
  width: 200px;
  height: 800px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.link-style {
  list-style: none;
  text-decoration: none;
  color: black;
}

.timestamp {
  font-size: 11px;
}

.message {
  background-color: lightskyblue;
  border: none;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 16px;
  width: max-content;
}

.background {
  height: 100vh;
  padding-top: 200px;
  background: linear-gradient(to top left, #963b98, #ff986f);
}

.form-inside {
  background: linear-gradient(to top left, #963b98, #ff986f);
}

.form {
  border: 1px solid black;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;
  width: 550px;
  height: 450px;
}

.form input {
  padding: 20px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  color: #FFFFFF;
}

::placeholder {
  color: #FFFFFF;
  opacity: 0.5;
}

.d-inline {
  display: inline-block;
}

.chat {
  border-radius: 20px;
  transition: 0.2s ease-in-out;
}

.chatPage {
  border-radius: 20px;
  background: white;
}

.chatPage input {
  outline: none;
  border: none;
  color: black;
  border-bottom: 2px solid black;
}

.chatPage input::placeholder {
  color: black;
  opacity: 1;
}

.chat:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.a-self-center {
  align-self: center;
}

@media screen and (max-width: 1400px){

}

@media screen and (max-width: 700px){
  .length {
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    height: 200px;
    flex-direction: row;
  }

  .responsive {
    flex-direction: column;
  }

  .form {
    width: 300px;
  }
}