
.toolbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4.5rem;
    background: linear-gradient(to top left, #963b98, #ff986f);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.toolbar div {
    font-size: 20px;
    color: #fff;
    position: relative;
    letter-spacing: 1px;
    padding: 0 10px;
}

.toolbar div:after {
    content: "";
    position: absolute;
    background-color: #000;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.toolbar div:hover {
    color: #fff;
    cursor: pointer;
}

.toolbar div:hover:after {
    width: 100%;
}

@media screen and (max-width: 450px){
    .toolbar {
        flex-direction: column;
        height: auto;
    }
    .toolbar div {
        margin-bottom: 20px;
    }
}